<div class="controls">
  <button mat-raised-button (click)="sortByPrice()">Sort Price</button>
  <button mat-raised-button (click)="sortByMiles()">Sort Miles</button>
  <button mat-raised-button (click)="filterButton()">Filter</button>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="price" placeholder="Max price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="mileage" placeholder="Max mileage">
  </mat-form-field>
  <mat-card-title>{{(filteredCars | async).length}} Cars</mat-card-title>
</div>

<div class="cars">
  <div class="car" *ngFor="let car of filteredCars | async">
    <a href="{{car.weblink}}">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>${{car.askingPrice | number}}</mat-card-title>
          <mat-card-subtitle>{{car.mileage}} mi.</mat-card-subtitle>
        </mat-card-header>
        <img width="300px" src="{{car.profileImage.imageUrl}}">
        <mat-card-content>
          <ul>{{car.trim}}</ul>
          <ul>{{car.dealer.state}} , {{car.dealer.city}}</ul>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
